* {
    box-sizing: border-box;
}

:root {
    --main-color: #fffcf4;
}

/* 1rem = 16px default => change 1rem = 10px*/
html {
    font-size: 62.5%;
}

/* Common setting */
a {
    text-decoration: none;
    /* color: #ffffff; */
}

.btn a {
    color: #ffffff;
}

a:hover {
}

.content {
    width: 1170px;
    max-width: calc(100% -135px);
    margin-right: auto;
    margin-left: auto;
    /* margin-left: auto;
    margin-right: auto; */
}

h1 {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

h2 {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.btn-black {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    background: #171100;
    border-radius: 25px;
    text-align: center;
}

.btn-yellow {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    background: #ffb900;
    border-radius: 26px;
    text-align: center;
}
/* Navigation bar */
.fixed-header {
    background-color: var(--main-color);
    position: sticky;
    z-index: 1;
}
.nav-bar {
    display: flex;
    align-items: center;
    padding-top: 36px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
    text-align: center;
    color: #5f5b53;
}
.nav-list li {
    margin-right: 42px;
}

.nav-list a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
    text-align: center;
    color: #5f5b53;
}

.nav-list a:hover {
    font-weight: 600;
    color: #171100;
}

.nav-list li:last-child {
    margin-right: 0;
}
.btn-black {
    margin-left: 70px;
    padding: 11px 41px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
    text-align: center;
    color: #ffffff;
}

.home-screen {
    padding: 64px 0 65px;
    height: calc(100vh - 86px);
    background: var(--main-color);
}

.home-screen .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-screen .ads {
    width: 49%;
}

.home-screen .info {
    width: 40%;
}

/* h1 {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
} */

/* .home-screen .desc {
    margin-top: 22px;
} */

/* =====Left ads content===== */
.ads {
    position: relative;
}
.ads .student {
    width: 470px;
    height: 685px;
    border-radius: 20px;
}

.ads .courses {
    position: absolute;
    right: 0;
    bottom: 48px;
    display: inline-block;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.courses ul {
    display: flex;
    flex-direction: column;
    padding: 24px 58px 24px 24px;
}

.courses li {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.courses li:first-of-type {
    margin-top: 0px;
}

.courses .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.icon-yellow {
    background: #fff9e8;
}

.icon-purple {
    background: #fcefff;
}

.icon-blue {
    background: #ebeaff;
}

.courses .course-info {
    margin-left: 16px;
}

.course-info .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

/* .course-info h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
} */

/* =====Right statistic content===== */
.info {
    margin: 64px 0;
}

.info .buttons {
    display: flex;
    margin-top: 38px;
}

.info .btn-yellow {
    padding: 17px 33px;
    font-size: 1.6rem;
    line-height: 1.75;
    border-radius: 32px;
}

.home-screen .info p:last-child {
    margin-top: 48px;
}

.btn-watch,
.courses .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-watch {
    margin-left: 28px;
}

.btn-watch .btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.btn-watch .watch {
    margin-left: 14px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.info p:first-of-type {
    margin-top: 22px;
}

.info p:last-of-type {
    margin-top: 48px;
}

.info ul {
    display: flex;
    margin-top: 8px;
}

.info .desc strong {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.info li:last-child {
    margin-left: 28px;
}

/* =====Course Info===== */

.popular-courses .content {
    padding: 200px 0;
}

/* Course heading */

.popular-courses .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading .description {
    width: 458px;
}

.heading .slide-btn {
    display: flex;
}

.slide-btn .action-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffb900;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border: 1px solid #ffb900;
    border-radius: 50%;
}

.slide-btn .action-icon:hover {
    color: #ffffff;
    background: #ffb900;
}

.slide-btn a:first-child {
    margin-right: 18px;
}

/* Course list */
.course-list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.course-list li {
    width: 370px;
    border: #e5e5e5 solid 1px;
    border-radius: 12px;
}
/* .course-list li:hover {
    border: #e5e5e5;
    background: #ffffff;

    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
} */

.course-list .details {
    margin: 16px 22px 22px;
}

.details .first-row {
    display: flex;
    justify-content: space-between;
}

.first-row .rate {
    display: flex;
    align-items: center;
}

.first-row .rate img {
    margin-right: 6px;
}

.first-row span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.description .desc {
    margin-top: 16px;
}

.details .desc {
    font-size: 14px;
}

.details .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.bottom-row .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 25px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #ffffff;
    background: #171100;
}

.bottom-row .btn:hover { 
    background: #ffb900;
}